.container button {
  display: flex;
  gap: 0.5rem;
}

input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: 1px solid var(--border);
}

.search-container {
  position: relative;
  width: 50%;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-top: 4px;
  z-index: 10;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f3f4f6;
}
